node_modules
.pnpm-store
.next
dist
coverage
.turbo
.venv
__pycache__
*.pyc
pnpm-lock.yaml
services/prediction-service/web/next-env.d.ts

# Python
services/prediction-service/**
**/.pytest_cache/**
**/__pycache__/**
**/*.pyc
